/* Main Layout */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);
html {
	position: relative;
}
.page-header {
	margin-bottom: 10px;
    padding-bottom: 5px;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto;
}

#maincol {margin-top: 18px;}
#leftcol {margin-top: 15px;}


/* CAROUSEL SETTINGS */
/* Carousel Styles */

.carousel {
  top: 54px;
}
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Galley ================ */

.carousel-inner_gal img {
    width: auto; 
    height: 100%;
    

}
.carousel_gal {
    
    background-color: #2980b9;

}

.carousel-fade {
    .carousel-inner_gal {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel-fade .carousel-inner_gal .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner_gal .active {
  opacity: 1;
}

.carousel-fade .carousel-inner_gal .active.left,
.carousel-fade .carousel-inner_gal .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner_gal .next.left,
.carousel-fade .carousel-inner_gal .prev.right {
  opacity: 1;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  
.footer {background: #2A2A2A;
   border-top:1px solid #811616;
   margin:10px auto 0;
   position: relative;
   color: #B2B2B2;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: left;
   padding: 0;
   font-size:10px;
  
     
}

#footer {background: #2A2A2A;
   border-top:1px solid #811616;
   margin:10px auto 0;
   position: relative;
   color: #B2B2B2;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: left;
   padding: 0;
   font-size:10px;
   height: 5px;
  margin-top:0;
  padding-top:5px;
  padding-bottom:55px;
}


.about_foot {
  color: #efefef;
}
.list-group-item-foot {
    background-color: none;
  border: 0px;
  display: block;
    margin-bottom: 2px;
    padding: 8px 13px;
    position: relative;
  transition: all 0.2s linear;
}
.list-group-item-foot:first-child {
  border-radius: 0px;
}
.list-group-item-foot:last-child {
  border-radius: 0px;
  border-bottom: 0px;
}

.sponsor-border {
    border-left: 1px solid #7d7d7d;
    padding: 25px 10px 25px 10px;
 }
 
 .table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}