<li class="list-group-item">
    $country <a href="index.php?site=profile&amp;id=$buddyID"><strong>$nickname</strong></a> $member

    <span class="pull-right">
        <a href="buddies.php?action=ignore&amp;id=$buddyID&amp;userID=$userID" title="ignore user">
            <i class="fa fa-minus fa-fw"></i>
        </a>
        <a href="buddies.php?action=delete&amp;id=$buddyID&amp;userID=$userID" title="delete user">
            <i class="fa fa-user-times fa-fw"></i>
        </a>
    </span>
</li>
