<section class="panel panel-default">
    <div class="panel-body ws-comments">
        <div class="pull-left avatar hidden-xs">
            $avatar
        </div>
		<div class="col-md-6">
	        <div class="pull-left">
	            $content<br>
	        </div>
		</div>
    </div>

    <footer class="panel-footer">
        <p>
            <i class="fa fa-user"></i> by $poster
            | <i class="fa fa-calendar"></i> $date
            <span class="pull-right">$edit $actions</span>
        </p>
    </footer>

</section>
