<li class="list-group-item">
    $country <a href="index.php?site=profile&amp;id=$buddyID"><strong>$nickname</strong></a> $member

    <span class="pull-right">
        <a href="buddies.php?action=readd&amp;id=$buddyID&amp;userID=$userID" title="back to buddy-list">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
        <a href="buddies.php?action=delete&amp;id=$buddyID&amp;userID=$userID" title="delete user">
            <i class="fa fa-user-times" aria-hidden="true"></i>
        </a>
    </span>
</li>
