<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">%delete_account%</h3>
	</div>
	<div class="panel-body">
		<form method="post" action="index.php?site=myprofile" class="form-horizontal" role="form">

			<!-- Password -->
			<div class="form-group">
				<label for="pwd" class="col-lg-4 control-label">%password%:</label>
				<div class="col-lg-8">
					<input type="password" name="pwd" id="pwd" class="form-control">
				</div>
			</div>

			<!-- Submit button -->
			<div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <a href="index.php?site=myprofile" class="btn btn-default btn-sm" role="button">%back%</a>
					<input type="hidden" name="id" value="$userID">
                    <input type="submit" name="deleteAccount" value="%delete_account%" class="btn btn-primary btn-sm">
                </div>
            </div>

		</form>
	</div>
</div>
