<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">%edit_mail%</h3>
	</div>
	<div class="panel-body">
		<form method="post" action="index.php?site=myprofile" class="form-horizontal" role="form">

			<!-- Password -->
			<div class="form-group">
				<label for="oldpwd" class="col-lg-4 control-label">%password%:</label>
				<div class="col-lg-8">
					<input type="password" name="oldpwd" id="oldpwd" class="form-control">
				</div>
			</div>

			<!-- New email -->
			<div class="form-group">
				<label for="mail1" class="col-lg-4 control-label">%new_email%:</label>
				<div class="col-lg-8">
					<input type="email" name="mail1" id="mail1" autocomplete="email" class="form-control">
				</div>
			</div>

			<!-- Repeat new email -->
			<div class="form-group">
				<label for="mail2" class="col-lg-4 control-label">%repeat_new_email%:</label>
				<div class="col-lg-8">
					<input type="email" name="mail2" id="mail2" autocomplete="email" class="form-control">
				</div>
			</div>

			<!-- Submit button -->
			<div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <a href="index.php?site=myprofile" class="btn btn-default btn-sm" role="button">%back%</a>
					<input type="hidden" name="userid" value="$userID">
                    <input type="submit" name="savemail" value="%change_mail%" class="btn btn-primary btn-sm">
                </div>
            </div>
			
		</form>
	</div>
</div>
