<!-- navigation_dd_open -->
<ul class="nav navbar-nav nor-main-nav">
<!-- END -->
<!-- navigation_main_head -->
	<li class="mainnav"><a href="index.php?site=$link">$name</a></li>
<!-- END -->
<!-- navigation_dd_head -->
	
    <li class="dropdown">
        <a href="$link" class="dropdown-toggle" data-toggle="dropdown">$name</a>
<!-- END -->		
<!-- navigation_sub_open -->
        <ul class="dropdown-menu">
<!-- END -->
<!-- navigation_sub_nav -->
            <li><a href="$link">$name</a></li>
<!-- END -->
<!-- navigation_sub_close -->
        </ul>
<!-- END -->
<!-- navigation_dd_foot -->
    </li>
<!-- END -->
<!-- navigation_dd_open -->
    </ul>
<!-- END -->