<script>
    <!--
    function chkFormular() {
        if (document.getElementById('message').value === "") {
            alert("You have to enter a message!");
            document.getElementById('message').focus();

            return false;
        }
    }
    -->
</script>

<form method="post" action="messenger.php" id="post" name="post" onsubmit="return chkFormular()">
    <div class="btn-group btn-group-justified">
        <a href="index.php?site=messenger" class="btn btn-default">%incoming%</a>
        <a href="index.php?site=messenger&amp;action=outgoing" class="btn btn-default">%outgoing%</a>
        <span class="btn btn-primary">%reply%</span>
    </div>
    <br>

 <div class="form-group">
        <label for="title">%title%</label>
        <input type="text" name="title" value="$title" class="form-control" autofocus>
    </div>

<div class="form-group">
        <strong>%formation%</strong><br>$addbbcode
    </div>

 <div class="form-group">
        <strong>%your_message%</strong><br>
        <textarea name="message" id="message" rows="10" class="form-control">$message</textarea>
    </div>

<div class="form-group text-right">
        <small><strong>%options%:</strong>
                                %html% | 
                                <a href="javascript:void(0);" onclick="window.open(
                                    'code.php',
                                    'BBCode',
                                    'scrollbars=yes,width=600,height=500')">%bbcode%</a> | 
                                <a href="javascript:void(0);" onclick="window.open(
                                    'smileys.php',
                                    'Smileys',
                                    'scrollbars=yes,width=340,height=500')">%smilies%</a>
                            </small>
    </div>

    <div class="form-group"><input type="hidden" name="id" value="$replytouser">
                            <input name="reply" type="submit" value="%send_message%" class="btn btn-danger pull-right">
    </div>



    
</form>
