<div class="col-xs-12">
	<ul class="list-inline">
		<li><a href="index.php?site=profile&amp;id=$id"><i class="fa fa-user fa-mgn"></i> %profile%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=galleries"><i class="fa fa-camera fa-mgn"></i> %galleries%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=buddys"><i class="fa fa-users fa-mgn"></i> %buddys%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=lastposts"><i class="fa fa-comments fa-mgn"></i> %last% $profilelast %posts%</a></li>
		<li class="active"><i class="fa fa-book fa-mgn"></i> %guestbook%</li>
	</ul>
</div>