<div class="row">
    <div class="col-xs-12 col-md-8">
        $sorter $page_link
    </div>
    <div class="text-right col-xs-12 col-md-4">
        <strong>$gesamt</strong> %registered_users%
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%registered_users%</h3>
    </div>
    
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a class="titlelink" href="index.php?site=registered_users&amp;sort=country&amp;page=$page">
                %country%:
            </a>
        </th>
        <th>
            <a class="titlelink" href="index.php?site=registered_users&amp;sort=nickname&amp;page=$page">
                %nickname%:
            </a>
        </th>
        <th>%contact%:</th>
        <th>%homepage%:</th>
        <th>
            <a class="titlelink" href="index.php?site=registered_users&amp;sort=lastlogin&amp;page=$page">
                %last_login%:
            </a>
        </th>
        <th>
            <a class="titlelink" href="index.php?site=registered_users&amp;sort=registerdate&amp;page=$page">
                %registration%:
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
